{% extends 'news/base.html' %}
{% load staticfiles%}

{% block content %}
    
    <script type="text/javascript"> 
        function showImg( url ) { 
        var frameid = 'frameimg' + Math.random(); 
        window.img = '<img id="img" jump_url class="img-thumbnail" src=\''+url+'?'+Math.random()+'\' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height = document.getElementById(\'img\').height+\'px\'; }<'+'/script>'; 
        document.write('<iframe id="'+frameid+'" src="javascript:parent.img;" frameBorder="0" scrolling="no" width="100%"></iframe>'); 
        } 
    </script>

    <div class="row">

        <!-- Gallery Items
        ================================================== --> 
        <div class="span12 gallery">

            <ul id="filterOptions" class="gallery-cats clearfix">
                <li class="active"><a href="#" class="all"></a></li> 
            </ul>

            <div class="row clearfix">
                <ul class="gallery-post-grid holder">

                {% for news_ in news %}
                    {% if news_.pic != "" %}
                    <li  class="span3 gallery-item" data-id="{{ forloop.counter }}">
                        <span class="gallery-hover-4col hidden-phone hidden-tablet">
                            <span class="gallery-icons">
                                <a href="{{ news_.pic }}" class="item-zoom-link lightbox" title="{{ news_.title }}" data-rel="prettyPhoto"></a>
                                <a target="_blank" href="{% url 'record_history' %}/?next={{news_.weburl}}" class="item-details-link"></a>                
                                <!-- <a target="_blank" href="{{ news_.weburl }}" class="item-details-link"></a> -->
                            </span>
                        </span>
                        <!-- The image of the news -->
                        <a target="_blank" href="{{ news_.weburl }}"><img src="{{ news_.pic|default:'http://api.jisuapi.com/news/upload/20170415/100002_82818.jpg' }}" width="280" height="170" alt="Gallery"></a>
                        <span class="project-details"><a target="_blank" href="{{ news_.weburl }}">{{ news_.title }}</a>{{ news_.src }}</span>
                    </li>
                    {% endif %}
                {% endfor %}

                </ul>
            </div>

            <!-- Pagination -->
            <!-- <div class="pagination">
                <ul>
                <li class="active"><a href="#">Prev</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
                </ul>
            </div> -->

        </div><!-- End gallery list-->

    </div><!-- End container row -->
    
    </div> <!-- End Container -->
{% endblock %}